* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth ;
}

body {
    /* background-color: #719593; */
    background-color: rgb(4, 16, 34);
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* heading and navbar  */
/* .navbar {
    background-color: #022350;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:60px;
    box-shadow: 10px 5px 5px rgb(56, 56, 187);
} */

.navbar {
    background-color: #022350;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    box-shadow: 10px 5px 5px rgb(56, 56, 187);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays above other content */
}


/* left navbar  */
.left-navbar{
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 500;
}

.right-navbar nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.right-navbar ul li a {
    color: whitesmoke;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 500;
    padding: 10px;
    text-decoration: none;
    list-style: none;
    margin: 5px;

}
.hero-container {
    padding: 20px;
    margin: 25px;
    display: flex;
}

.left-hero {
    /* border: 2px solid black; */

    padding: 10px;
    margin-left: 25px;
    text-align: center;
    width: 39%;
}

.right-hero {
    /* border: 2px solid yellow; */
    width: 60%;
    padding: 10px;
}

.quotes p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    margin: 20px 0
}

.hero-heading {
    font-size: 30px;
    color: white;
    margin-top: 30px;
    line-height: 1.2;
}

.btn-get-started {
    display: inline-block;
    background-color: white;
    padding: 10px 20px;
    border: 2px solid rgba(70, 173, 131, 0.63);
    border-radius: 25px;
    color: #00a9e0;
    font-weight: bold;
    
}

.btn-get-started a {
    text-decoration: none;
    padding-bottom:  10px;
}
/* slider designing  */
.slider {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    background: #a9e4d4;
}

.slides {
    display: flex;
    transition:all 3s ease-in ;
}

.image {
    min-width: 100%;
}

.image img {
    width: 100%;
    border-radius: 10px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(81, 171, 153);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 2px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(89, 207, 183, 0.592);
}

.right-hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    cursor: pointer;
    height: 30px;
}

/* animated typing  */
#element{
    color: rgba(148, 175, 174, 0.848);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
}
hr{
    border: 0.5px solid rgba(170, 195, 210, 0.47);
}

/* about us page  */
.about-heading{
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 5px;
    
}
.aboutUs{
    text-align: center;
    color: wheat;
}
.aboutPage{
    display: flex;
    justify-content: space-around;
}

.education {
    margin: 40px ;
    padding: 20px;
    /* background-color: #68788a; */
    box-shadow: 0 0 10px rgba(52, 43, 43, 0.5);
}
.education h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color:whitesmoke
}

.education-list {
    list-style: none;
    padding: 0;
    
}

.education-item {
    margin-bottom: 20px;
    padding: 10px;
    
}

.education-item h3 {
    margin: 0;
    font-size: 1.5em;
    color: rgb(227, 220, 220);
}

.education-item p {
    margin: 5px 0;
    font-size: 1em;
    color: white;
}

.education-duration {
    display: block;
    font-size: 0.9em;
    color: white
}

/* PROJECT DESIGN  */
.projects {
    margin: 50px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(52, 43, 43, 0.5);
}
.projects h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: white;
}

.projects-list {
    list-style: none;
    padding: 0;
}

.projects-item {
    margin-bottom: 20px;
    padding: 15px;
}

.projects-item h3 {
    margin: 0;
    font-size: 1.5em;
    color: whitesmoke;
}

.projects-item p {
    margin: 5px 0;
    font-size: 1em;
    color: white;
}

.projects-duration {
    display: block;
    font-size: 0.9em;
    color: white;
}


/* skil design  */
.skills{
    /* border: 2px solid red; */
    color: whitesmoke;
    width: 45%;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(52, 43, 43, 0.5);

}
.skills h2 {
    text-align: center;
    margin: 5px;
    padding: 15px;
}
.skills-item{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    pad: 10px;
}
.skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.skills-item {
    margin-bottom: 20px;
}

/* skill bar design  */
.skill-bar {
    width: 70%;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    height: 15px;
}
.skill-level {
    height: 100%;
    background-color: #3476bc;
    transition: width 1s;
}
.skills-item:hover .skill-level {
    background-color: #123459;
}
